<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    </head>
    <body>
    <div class="container">
        {% block body %}
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6"><a class="btn btn-secondary btn-lg btn-block" href="{{ path('locale', {'_locale' : 'en' }) }}">en</a></div>
                        <div class="col-md-6"><a class="btn btn-secondary btn-lg btn-block" href="{{ path('locale', {'_locale' : 'ru' }) }}">ru</a></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        {% if not app.user %}
                            <div class="col-md-6"><a class="btn btn-primary btn-lg btn-block" href="{{ path('fos_user_registration_register') }}">{% trans from 'messages' %}sign_up{% endtrans %}</a></div>
                            <div class="col-md-6"><a class="btn btn-primary btn-lg btn-block" href="{{ path('fos_user_security_login') }}">{% trans from 'messages' %}sign_in{% endtrans %}</a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </div>
    </body>
</html>
