{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}

        <h1>{% trans from 'messages' %}list_phase{% endtrans %}</h1>


    <ul>
        {% for phrase in phrases %}
            <li><a href="{{ path('translations', {'id' : phrase.id }) }}">{{ phrase.translate('ru').name }}</a></li>
        {% endfor %}
    </ul>
    {% if app.user %}
        <h2>{% trans from 'messages' %}add_new_phrase{% endtrans %}</h2>
        {{ form_start(addPhrase) }}
        {{ form_widget(addPhrase) }}
        {{ form_end(addPhrase) }}
    {% endif %}

{% endblock %}

{% block stylesheets %}
{% endblock %}
